<style>
    .alert {
      padding: 20px;
      background-color: #f44336; 
      color: white;
      opacity: 1;
      width: 90%;
      max-width: 450px;
      margin:auto;
      margin-bottom: 15px;
      z-index: 10;
      position:relative;

    }
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    .closebtn:hover {
      color: black;
    }
    .alert.success {
      background-color: #4caf50;
    }
  </style>
  <% if(error != ''){%>
  <div class="alert error">
    <%= error %>
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
  </div>
  <% } %> <% if(error_msg != ''){%>
  <div class="alert error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
    <%= error_msg %>
  </div>
  <% } %> <% if(success_msg != ''){%>
  <div class="alert success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
    <%= success_msg %>
  </div>
  <% } %>
  