<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
</head>
<style>
    body{
        max-width: 450px;
        margin:auto;
        font-family: 'Vollkorn', serif;
    }
    form {
        border: 3px solid #534c4c;
        max-width: 420px;
        margin: auto;
        padding:20px;
        background-color: #f2f2f2;
        
    }
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    button[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-family: 'Vollkorn', serif;
    }
    label{
        font-weight: bolder;
    }
    span{
        float: right;
        display:inline;
    }
    button[type=submit]:hover {
      opacity: 0.8;
    }
    </style>


<body>
    
    <div class='container'>
        <h1 style="text-align: center;"><i class="fas fa-clipboard-list"></i>&nbsp&nbspLOGIN TO COOLORS</h1>
        <div>
            <form action='/login' method="POST">
                <%- include('./partials/flash') %>
                <label for="name"><i class="fas fa-user-tie"></i>&nbsp&nbspUsername: </label>
                <input type="text" id="name" name="username" placeholder='Enter username' required><br><br>
                <label for="password"><i class="fas fa-lock"></i>&nbsp&nbspPassword: </label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>
                <button type="submit">LOGIN</button>
            </form>
        </div><br>
        <span>Don't have an account ? <a href='/register'>Register here</a></span>
        </div>

</body>

<script>

    localStorage.clear();
    
</script>


</html>