*{
    box-sizing: border-box;
}


body {
    margin: 0;
    padding : 0;
    min-height: 100vh;
    background-color:rgb(255,240,245);
}
.pallete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    margin : 15px;
    justify-content: center;
    align-items: center;
}

.color{

    width:90px;
    height: 360px;
    /* background-color: blue; */
    border:2px solid black ;
    position: relative;
    border-radius:8px;

}

.button{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(252, 199, 135);
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor : pointer;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    width:90%;
    align-items: center;
    margin :0 auto;
    background-color:rgb(240,248,255);
    border: 1px solid black;
}




.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center> * {
    margin:10px;
}

#addButton, #saveButton,#randButton{
    background-color:#828afd;
    color: white;
    padding:10px 15px;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-family: 'Vollkorn', serif;
}

input{
    margin:10px;
}